src/main/mule/say-hello.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ea09eece-d8c9-4165-b6ed-88b790757656" >
		<http:listener-connection host="0.0.0.0" port="8087" />
	</http:listener-config>
	<flow name="say-helloFlow" doc:id="4bcfb4f5-b729-48b7-af36-3a00a65f87ad" >
		<http:listener doc:name="Listener" doc:id="dcf08f1a-9783-4e45-9d18-1734544bef70" config-ref="HTTP_Listener_config" path="/hello"/>
		<logger level="INFO" doc:name="Logger" doc:id="b242333f-3d3d-4740-8153-225bbcaefd04" message="Hello #[attributes.queryParams.'name']"/>
	</flow>
</mule>
